<a href="https://colab.research.google.com/github/XTMay/ML_DL/blob/main/Lecture_1/HW_Data_Preprocessing_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 1: Data Preprocessing in Python

## In this assignment, there are two Sections you are going to finish.


*   ### Section 1: Theory questions, each question is worth 5 points
*   ### Section 2: Programming Questions 4 parts, 80 points in total, each part is worth 20 points

## Theory Questions 20 points (each question is worth 5 points)



#### Question 1. Explain the importance of data preprocessing in machine learning.

#### Answer:

Answers

#### Question 2. What is the purpose of replacing missing values with standard values like “Not Available” or “NA”?

#### Answer:

Answers


#### Question 3. Discuss techniques for reducing the dimensionality of a dataset.

Answers

#### Answer:

Answers

#### Question 4. What is feature engineering, and why is it essential?

#### Answer:

Answers

## Programming Questions (80 points, each part is worth 20 points)

#### <p>In this assignment, you are going to implement data processing.

#### Finish the missing part in each section.

#### About Dataset: The amounts of construction investment in Japan for 60 years from 1960.

#### Dataset link: [https://www.kaggle.com/datasets/yutodennou/construction-investment-amount-in-japan]

#### Check the link above to find more details.</p>

## Part 1: Fill in missing value & Data Encoding (20 points)

In [ ]:
# importing libraries
import pandas as pd
from pandas import read_csv
import scipy
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Load the dataset
df = read_csv('xxxxx/xxxx/Construction_investment_amount_in_japan.csv')
df.head()

,Construction_Investment,Year,Value,Total,Architecture_Total,Architecture_Residential,Architecture_Residential_Government,Architecture_Residential_Private,Architecture_Non Residential,Architecture_Non Residential_Government,...,Civil Engineering_Government_Public Projects,Civil Engineering_Government_Other,Civil Engineering_Private,Repeated_Total_Government,Repeated_Total_Private,Repeated_Architecture_Government,Repeated_Architecture_Private,Repeated_Civil Engineering_Government,Repeated_Civil Engineering_Private,Repeated_Private_Non Residential Construction(Non Residential Architecture and Civil Engineering)
0,amount,2022,real,669900.0,434000.0,163100.0,3400.0,159700.0,157600.0,38500.0,...,144500.0,20300.0,71100.0,225300.0,444600.0,60500.0,373500.0,164800.0,71100.0,190200.0
1,amount,2021,real,666000.0,425800.0,164700.0,3600.0,161100.0,148200.0,40000.0,...,150000.0,21000.0,69200.0,233900.0,432100.0,62900.0,362900.0,171000.0,69200.0,177400.0
2,amount,2020,real,653600.0,405300.0,156800.0,4200.0,152600.0,145300.0,40300.0,...,155400.0,25200.0,67700.0,244300.0,409300.0,63700.0,341600.0,180600.0,67700.0,172700.0
3,amount,2019,real,623280.0,401817.0,167478.0,4358.0,163120.0,155383.0,39078.0,...,141949.0,25354.0,54160.0,224802.0,398478.0,57499.0,344318.0,167303.0,54160.0,170465.0
4,amount,2018,real,618271.0,404856.0,172580.0,5214.0,167366.0,153994.0,38778.0,...,135472.0,23397.0,54546.0,215910.0,402361.0,57041.0,347815.0,158869.0,54546.0,169762.0

In [ ]:
df.info()

In [ ]:
# Find out null value
df.isnull().sum()

In [ ]:
# Fill in null value
new_df = df.ffill()

# Show new dataframe after filling in null value
new_df.isnull().sum()

In [ ]:
new_df.tail()

In [ ]:
df = new_df

In [ ]:
# Statistical Analysis
df.describe()

In [ ]:
# Print mean value, standard deviation, max and min value of each column

In [ ]:
# convert categorical variables to numerical variables

In [ ]:
df.tail()

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize the encoder
label_encoder = LabelEncoder()

# Fit and transform the data
df['Construction_Investment'] = label_encoder.fit_transform(df['Construction_Investment'])

df.tail()

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Initialize the encoder
label_encoder = LabelEncoder()

# Fit and transform the data
df['Value'] = label_encoder.fit_transform(df['Value'])

df.tail()

## Part 2: Check the outliers (20 points)

In [ ]:
# use box plot for each columns
fig, axs = plt.subplots(100, 1, dpi=95, figsize=(7,17))
i = 0
for col in df.columns:
	axs[i].boxplot(df[col], vert=False)
	axs[i].set_ylabel(col)
	i+=1
plt.show()

In [ ]:
# Remove ourliers

## Part 3: Normalization or Standardization (20 points)

### In this part, you will extract at most 8 features to predict Total Amount.

## Part 4: Feature Extraction (20 points)

### In this part, you will extract at most 8 features to predict Total Amount.

In [ ]:
#correlation
corr = df.corr()

plt.figure(dpi=130)
sns.heatmap(df.corr(), annot=True, fmt= '.2f')
plt.show()

In [ ]:
# initialising the MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

# learning the statistical parameters for each of the data and transforming
rescaledX = scaler.fit_transform(X)
rescaledX[:5]

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X)
rescaledX = scaler.transform(X)
rescaledX[:5]